* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: auto;
}

.main_container .card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_container .card_wrapper .display_card {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  border: 1px solid white;
  padding: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_container .card_wrapper .display_card .first_row {
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.main_container .card_wrapper .display_card .first_row .logo_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container .card_wrapper .display_card .first_row .logo_size img {
  width: 80%;
  margin: auto;
}

.main_container .card_wrapper .display_card .first_row .mission_name {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
}

.main_container .card_wrapper .display_card .first_row .mission_name h4 {
  width: auto !important;
}

.main_container .card_wrapper .display_card .more_detail_button {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: orange;
  outline: none;
  border: none;
  padding: 0 10px;
  border-right: 10px solid red;
  -webkit-transition: .3s;
  transition: .3s;
  float: right;
  border-radius: 20px 0 0 20px;
}

.main_container .card_wrapper .display_card .more_detail_button:hover {
  background-color: red;
  text-decoration: none;
}

.image_card {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  width: auto;
  height: 200px;
}

h6 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%, rgba(0, 0, 0, 0)), color-stop(41%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65))) #1c1c1c;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.65) 100%) #1c1c1c;
}

@media screen and (max-width: 1005px) {
  .card_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=display_card.css.map */